<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Samsung Test Automation Suite">

<!-- 	<listeners>
		<listener class-name="com.qa.ExtentReportListener.ExtentReporterNG" />
	</listeners>
 -->

	<test name="Samsung Challenge Test Case">
		<classes>
			
			<class name="com.samsung.qa.testcases.MapSearchTest"></class>
		</classes>
	</test>
</suite>